<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>cuvyvcc.xhruy@tznvy.pbz</string>
	<key>contactName</key>
	<string>Philipp Kühl</string>
	<key>description</key>
	<string>The "Typset&amp;View" and "Watch document" commands of the LaTeX bundle with improved error messages.</string>
	<key>name</key>
	<string>LaTeX Debug</string>
	<key>uuid</key>
	<string>5D6E44CC-607A-47F5-93AE-8A26CFF3D2F4</string>
</dict>
</plist>
